.loginPage {
  height: 100vh;
  width: 100vw;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.buttonInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.textLogo {
  color: red;
  display: flex;
  bottom: 40px;
}
