.styleTitle {
  padding-bottom: 35px;
  padding-top: 15px;
  margin-bottom: 20px;
}
.styleNumber {
  margin-left: 5px;
  margin-top: 10px;
  text-align: center;
}

.styleSubtitle {
  margin-left: 15px;
  margin-top: 5px;
}
