.styleTitle {
  padding-bottom: 35px;
  padding-top: 15px;
  margin-bottom: 20px;
}
.styleNumber {
  margin-left: 10px;
  margin-top: 10px;
}

.styleSubtitle {
  margin-left: 10px;
  margin-top: 5px;
}
